.datatable {
  th[style="width: 90px; max-width: 90px;"] {
    div {
      display: flex;
      justify-content: center;
    }
  }

  th {
    padding: 15px 10px 10px;
    border-bottom: 1px solid var(--border-color);
    font-family: "Furore";
    font-size: 14px;
    font-weight: 400;

    span {
      color: var(--color-gray);
    }

    span[data-pc-section="sort"] {
      display: none;
    }

    span[class="p-column-title"]::after {
      content: "";
      display: hidden;
      width: 10px;
      height: 10px;
      margin-left: 7px;
      background-image: url("@assets/images/sortArrow.svg");
      background-size: cover;
    }

    &[aria-sort="ascending"] {
      span[class="p-column-title"]::after {
        display: inline-block;
        transform: rotate(0deg);
      }
    }

    &[aria-sort="descending"] {
      span[class="p-column-title"]::after {
        display: inline-block;
        transform: rotate(180deg);
      }
    }

    &[class="actions"] > div {
      justify-content: center;
    }
  }

  td {
    padding: 20px 10px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--border-color);
    font-family: "Jost";
    font-size: 15px;
    font-weight: 400;
    color: var(--table-text-color);
  }

  tbody[class="p-datatable-tbody"] {
    tr {
      cursor: default;
      &:hover {
        background-color: var(--table-hover-color);
      }

      &:first-child {
        td {
          padding-top: 30px;
        }
      }
    }

    & > tr:has(+ tr[data-pc-section="rowexpansion"]) {
      td {
        border-bottom: 0px solid var(--border-color);
      }
    }

    & > tr:hover + tr[data-pc-section="rowexpansion"] {
      background-color: var(--table-hover-color);
    }

    & > tr:has(+ tr[data-pc-section="rowexpansion"]:hover) {
      background-color: var(--table-hover-color);
    }
  }
}
