.header {
  border-bottom: 1px solid #cecece;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

    .logo {
      img {
        width: 130px;
      }
    }

    .buttons {
      display: flex;
      gap: 7px;
    }
  }
}
