@import "@assets/styles/breakpoints/breakpoints";

.header {
  border-bottom: 1px solid var(--header-border-color);
  z-index: 101;
  position: fixed;
  background-color: var(--background-color);
  width: 100vw;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

    .logo {
      img {
        width: 130px;
      }
    }

    .buttons {
      display: none;

      @media (min-width: $tablet) {
        display: flex;
        gap: 7px;
      }
    }

    .mobileMenuButton {
      border: 1px solid var(--header-button-border-color) !important;
      padding: 10px 18px !important;
      font-family: "Furore";
      font-size: 14px;
      line-height: 1px;

      @media (min-width: $tablet) {
        display: none !important;
      }
    }
  }
}
