.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  margin-top: 62px;
  height: calc(100% - 62px);
  flex: 1 0 auto;
}

.dark {
  width: 100%;
  @media (max-width: 1439px) {
    background-color: rgba(128, 128, 128, 0.5);
    filter: blur(4px);
    transition: all 0.2s linear;
    overflow: hidden;
  }
}

.transparent {
  width: 100%;
  @media (max-width: 1439px) {
    background-color: transparent;
    filter: none;
    transition: all 0.2s linear;
    overflow: hidden;
  }
}

.content {
  @media (min-width: 744px) {
    padding-left: 40px;
  }

  @media (min-width: 1440px) {
    padding-left: 0px;
  }
}
