@import "@assets/styles/breakpoints/breakpoints";

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  height: calc(100% - 62px);
  margin-top: 62px;
}

.cover {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;

  @media (min-width: $desktop) {
    display: none;
  }
}

.blur {
  background-color: var(--blur-color-black);
  backdrop-filter: blur(4px);
}

.clear {
  background-color: transparent;
  backdrop-filter: blur(0);
  pointer-events: none;
}

.content {
  max-width: 100vw;
  width: 100%;

  @media (min-width: $tablet) {
    padding-left: 40px;
  }

  @media (min-width: $desktop) {
    padding-left: 0px;
  }
}
