.wrapper {
  background-color: var(--background-color-gray);
  padding: 2px;
  display: inline-block;
  position: relative;
  max-width: 440px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid var(--background-color-white);
  }

  .label {
    font-family: "Furore";
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  .select {
    max-width: 100%;
    min-width: 100%;
    font-family: "Jost";
    font-size: 15px;
    outline: none;
    padding: 5.5px;
    border: none;
  }
}
