.sideNav {
  min-width: 330px;
  height: 100%;
  border-right: 1px solid #cecece;

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #cecece;
    font-family: "Furore";
    font-size: 18px;

    .button {
      min-width: 40px;
      min-height: 40px;
      border: none;
      border-left: 1px solid #cecece;
    }
  }
}
