@import "@assets/styles/breakpoints/breakpoints";

.wrapper {
}

.admin {
  color: var(--text-color);
}

.sideNav {
  position: fixed;
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  background-color: var(--background-color);
  border-right: 1px solid var(--border-color);
  transition: width 0.5s ease, max-width 0.5s ease, min-width 0.5s ease;
  z-index: 100;

  @media (min-width: $tablet) {
    max-width: 330px;
    width: 330px;
    min-width: 330px;
    height: calc(100vh - 62px);
  }

  @media (min-width: $desktop) {
    position: sticky;
    top: 62px;
  }

  .topRow {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid var(--border-color);
      font-family: "Furore";
      font-size: 18px;
    }
  }
}

.button {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-left: 1px solid var(--border-color);
}

.closedNav {
  max-width: 0;
  width: 0;
  min-width: 0;

  @media (min-width: $tablet) {
    max-width: 40px;
    width: 40px;
    min-width: 40px;
  }
}

.shrink {
  transition: width 0.5s ease, padding-left 0.5s ease, padding-right 0.5s ease;
  overflow: hidden;
}

.closed {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navHideButton {
  transition: 0.5s all ease;
}

.navShowButton {
  transform: scale(-1, 1);
  transition: 0.5s all ease;
}
