.wrapper {
}

.sideNav {
  position: fixed;
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  background-color: white !important;
  border-right: 1px solid #cecece;
  transition: all 0.5s ease;
  z-index: 100;

  @media (min-width: 744px) {
    max-width: 330px;
    width: 330px;
    min-width: 330px;
    height: calc(100vh - 62px);
  }

  @media (min-width: 1440px) {
    position: sticky;
    top: 62px;
  }

  .topRow {
    display: none;

    @media (min-width: 744px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid #cecece;
      font-family: "Furore";
      font-size: 18px;
    }
  }
}

.button {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-left: 1px solid #cecece;
}

.closedNav {
  max-width: 0;
  width: 0;
  min-width: 0;

  @media (min-width: 744px) {
    max-width: 40px;
    width: 40px;
    min-width: 40px;
  }
}

.shrink {
  transition: all 0.5s ease;
  overflow: hidden;
}

.closed {
  width: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
