.listItem {
  line-height: 32px;
  list-style: none;
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;

  &:has(ul > li:hover) {
    button {
      .icon {
        width: 20px;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color-black);

  &:hover .icon {
    width: 20px;
  }
}

.subLink {
  padding-left: 25px;
  list-style: none;
  font-weight: 400;
  color: inherit;
}

.link,
.subLink {
  transition: font-weight 0.2s ease;
  &:hover {
    cursor: pointer;
    font-weight: 700;
  }
}

.icon {
  width: 15px;
  min-width: 15px;
  height: auto;
  transition: 0.2s width ease;
}

.subMenu {
  line-height: 24px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s linear;
}

.subMenuOpened {
  height: 50px;
  transition: height 0.3s linear;
}

.subMenuButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--font-color-black);
}

.arrow {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.arrowClose {
  transform: rotate(180deg);
}
