.listItem {
  line-height: 32px;
  list-style: none;
  font-family: "Jost";
  font-weight: 500;
  font-size: 15px;

  button {
    width: 100%;
  }

  &:has(ul > li:hover) {
    button {
      .icon {
        width: 20px;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--navlink-color);
}

.subLink {
  padding-left: 25px;
  list-style: none;
  font-weight: 400;
  color: var(--navsublink-color);
  width: 100%;
  display: inline-block;
}

.link,
.subLink {
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    font-weight: 700;
    .icon {
      width: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--hover-color);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: all 0.5s ease;
  }
}

.active {
  .icon {
    path {
      fill: var(--hover-color);
    }
  }

  &::after {
    transform: scaleX(1);
  }
}

.icon {
  width: 15px;
  min-width: 15px;
  height: auto;
  transition: all 0.2s ease;
}

.subMenu {
  line-height: 24px;
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.subMenuOpened {
  height: 50px;
  transition: height 0.5s ease;
}

.subMenuButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--navlink-color);

  &::after {
    display: none;
  }
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.arrowClose {
  transform: rotate(180deg);
}
