.thumbnailUrl {
  max-height: 50px;
}

.completed {
  width: 16px;
  height: auto;
}

.link {
  color: var(--table-text-color);
  text-decoration: underline;
}

.email {
  text-decoration: underline;
  color: var(--table-text-color);
}
