@import "@assets/styles/breakpoints/breakpoints";

.container {
  padding: 20px 10px;
  @media (min-width: $tablet) {
    padding: 40px 30px;
  }
  @media (min-width: $desktop) {
    padding: 40px 50px;
  }

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  @media (min-width: $tablet) {
    display: flex;
  }

  padding: 15px 0 10px;
  border-bottom: 1px solid var(--secondary-color-gray);
  font-family: "Jost";
  font-size: 15px;
}

.rowTitle {
  flex: 0 0 200px;

  font-size: 12px;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.rowData {
  width: 100%;

  .readyIcon {
    padding-top: 3px;
    width: 16px;
  }
}
