@import "@assets/styles/breakpoints/breakpoints";

.container {
  padding: 20px 10px;
  @media (min-width: $tablet) {
    padding: 40px 30px;
  }
  @media (min-width: $desktop) {
    padding: 40px 50px;
  }

  display: flex;
  flex-direction: column;
  gap: 30px;
}
