.deleteModal {
  flex-direction: column;
  gap: 20px;
  font-family: "Jost";
  font-size: 20px;
  color: var(--text-color);
}

.buttons {
  display: flex;
  gap: 20px;
  font-size: 16px;

  button {
    padding: 5px 10px;
  }
}
