.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  border: 1px solid var(--primary-color-gray);
  background-color: transparent;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--accent-color-red);
  }
}
