.container {
  width: 100%;
  padding: 30px 10px !important;

  @media (min-width: 744px) {
    padding: 50px 30px !important;
  }

  @media (min-width: 1440px) {
    padding: 50px 55px !important;
  }

  .logo {
    width: 227px;
    height: auto;
    margin-bottom: 10px;

    @media (min-width: 744px) {
      width: 455px;
      margin-bottom: 20px;
    }
  }

  .welcome {
    margin-bottom: 20px;
    font-family: "Furore";
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    white-space: pre-wrap;

    @media (min-width: 1440px) {
      white-space: normal;
    }
  }

  .tip {
    padding-right: 60px;
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
  }
}
