@import "@assets/styles/breakpoints/breakpoints";

.container {
  width: 100%;
  padding: 50px 10px !important;

  @media (min-width: $tablet) {
    padding: 50px 30px !important;
  }

  @media (min-width: $desktop) {
    padding: 50px 55px !important;
  }

  .logo {
    margin-bottom: 20px;

    .mainLogo {
      width: 227px;
      height: 35px;

      @media (min-width: $tablet) {
        width: 455px;
        height: 150px;
      }
    }
  }

  .welcome {
    margin-bottom: 20px;
    font-family: "Furore";
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
    white-space: pre-wrap;
    color: var(--text-color);

    @media (min-width: $desktop) {
      white-space: normal;
    }
  }

  .tip {
    padding-right: 60px;
    font-family: "Jost";
    font-weight: 400;
    font-size: 18px;
    p {
      color: var(--subtext-color);
    }
  }
}
