.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 890px;
}

.block {
  display: flex;
  row-gap: 25px;
  column-gap: 10px;
  flex-wrap: wrap;
}

.half {
  flex-basis: 440px;
}
