@import "@assets/styles/breakpoints/breakpoints";

.row {
  @media (min-width: $tablet) {
    display: flex;
  }

  padding: 15px 0 10px;
  border-bottom: 1px solid var(--border-color);
  font-family: "Jost";
  font-size: 15px;
}

.rowTitle {
  flex: 0 0 200px;
  color: var(--text-color);

  font-size: 12px;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.rowData {
  width: 100%;
  color: var(--text-color);

  span {
    color: var(--text-color);
  }

  .readyIcon {
    padding-top: 3px;
    width: 16px;
    height: auto;
  }
}

.link {
  text-decoration: underline;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    color: var(--hover-color);
  }
}
