.wrapper {
  background-color: var(--ui-color);
  padding: 2px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid var(--background-color);
  }

  .label {
    display: flex;
    justify-content: left;
    align-items: center;

    &:has(.error) {
      animation: error-border 1s forwards;
    }

    .labelText {
      font-family: "Furore";
      font-size: 14px;
      padding: 10px;
      cursor: pointer;
      color: var(--text-color);
    }

    .error {
      color: rgb(223, 24, 24);
      font-family: "Jost";
      padding: 3px;
    }
  }

  .input {
    max-width: 100%;
    min-width: 100%;
    resize: none;
    font-family: "Jost";
    font-size: 15px;
    outline: none;
    padding: 8px;
    border: none;
    background-color: var(--background-color);

    color: var(--text-color);
    &::placeholder {
      color: var(--color-gray);
    }
  }
}

@keyframes error-border {
  0% {
    background-color: rgba(255, 0, 0, 0.112);
  }
  40% {
    background-color: rgba(255, 0, 0, 0.388);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.112);
  }
}
