@import "@assets/styles/breakpoints/breakpoints";

.button {
  background-color: var(--color-gray);
  color: var(--background-color);
  font-family: "Furore";
  font-size: 14px;
  padding: 20px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;

  @media (min-width: $tablet) {
    width: 300px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid var(--background-color);
  }
}
