@import "@assets/styles/breakpoints/breakpoints";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  .title {
    font-family: "Furore";
    font-size: 36px;
    font-weight: 400;
    color: var(--text-color);
  }

  .search {
    width: 300px;
    background-color: var(--background-color);
    outline: 0px;

    color: var(--subtext-color);
    &::placeholder {
      color: var(--subtext-color);
    }
  }
}
.add {
  max-width: 300px;
  min-height: 40px !important;
  width: 300px;
  padding: 10px 25px;
  font-family: "Furore";
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}
