.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1440px) {
    flex-direction: row;
  }

  .title {
    font-family: "Furore";
    font-size: 36px;
    font-weight: 400;
  }

  .search {
    width: 300px;
    background-color: var(--background-color-white);
  }
}
