:root {
  --primary-color-gray: #bcb8b8;
  --secondary-color-gray: #d2d0d0;
  --accent-color-red: #cc465a;
  --font-color-black: #353231;
  --background-color-white: #f3f2f2;
  --background-color-gray: #ebeaea;
  --blur-color-black: rgba(16, 16, 16, 0.15);
}
