@font-face {
  font-family: "Furore";
  src: url("./fonts/Furore/Furore.ttf"), url("./fonts/Furore/Furore.otf"), url("./fonts/Furore/Furore.woff"),
    url("./fonts/Furore/Furore.woff2"), url("./fonts/Furore/Furore.eot");
}

@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost/Jost.ttf"), url("./fonts/Jost/Jost.otf"), url("./fonts/Jost/Jost.woff"),
    url("./fonts/Jost/Jost.woff2"), url("./fonts/Jost/Jost.eot");
}
